.conteudo {
  width: 100%;
  height: 150px;
  background-color: white;
}

.linha {
  height: 3px;
  width: 232px;
  background-color: #0C07F2;
  margin-left: 8%;
}

.texto {
  margin-left: 8%;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 25px;
  color: #787878;
}

.texto-2 {
  margin-left: 8%;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 25px;
  color: #787878;
}

.button-container {
  margin-right: 8%;
  margin-top: -3%;
}
