<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="#">
      <img src="../../assets/logo-branca 2.png" alt="logo dianpe" width="25px" height="32px"
        class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex justify-content-end collapse navbar-collapse me-5" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link me-4" href="#mod">Modalidade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="#dep">Depoimentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-4" href="#sob">Sobre</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary">Ver Cursos</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <img src="../../../assets/inicio.png" class="img-fluid" alt="">
</div>
