.navbar {
  background-color: #120FA9 !important;
}

.nav-link {
  color: white;
  font-family: Poppins;
  font-weight: 400;
}

button {
  background-color: #FFFFFF;
  color: #120FA9;
  border: none;
}

img {
  width: 100%;
}
