<section class="conteudo">
  <p class="text-center title">Que tipo de curso você procura?</p>
  <div class="container mt-md-5 mt-4">
    <div class="row">
      <div
        class="col-md-4 mb-5 d-flex justify-content-center align-items-center"
      >
        <div class="card" style="width: 18rem">
          <img src="../../assets/tecnico.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Cursos Técnicos</h5>
            <p class="card-text">
              Aprimore suas habilidades através de um curso técnico que oferece
              conhecimentos teóricos e práticos abrangentes em diversas áreas de
              atuação.
            </p>
            <a href="#" class="btn btn-primary">Cursos Técnicos</a>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 mb-5 d-flex justify-content-center align-items-center"
      >
        <div class="card" style="width: 18rem">
          <img
            src="../../assets/profissionalizante.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Cursos Profissionalizantes</h5>
            <p class="card-text">
              Obtenha uma formação rápida e prática em uma área específica,
              visando a entrada no mercado de trabalho ou o aprimoramento de
              habilidades profissionais.
            </p>
            <a href="#" class="btn btn-primary">Cursos Profissionalizantes</a>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 mb-5 d-flex justify-content-center align-items-center"
      >
        <div class="card" style="width: 18rem">
          <img src="../../assets/livre.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Cursos Livres</h5>
            <p class="card-text">
              Concentre-se em um tópico de interesse e obtenha um conhecimento
              prático e aprofundado nessa área específica, em um período
              relativamente curto de tempo.
            </p>
            <a href="#" class="btn btn-primary">Cursos Livres</a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="linha linha-1"></div>
      <button type="button" class="btn btn-outline-primary">Ver todos</button>
      <div class="linha linha-2"></div>
    </div>
  </div>
</section>
