.conteudo {
  width: 100%;
  height: 500px;
  background-color: white;
}

.title {
  font-family: "Poppins";
  color: #000000;
  font-weight: 400;
  font-size: 25px;
}

.linha {
  height: 2px;
  width: 232px;
  background-color: #f09139;
}
.linha-1 {
  margin-right: 69px;
}

.linha-2 {
  margin-left: 69px;
}

@media (max-width: 425px) {
  .title {
    font-size: 20px;
  }

  .linha {
    height: 2px;
    width: 110px;
    background-color: #f09139;
  }

  .linha-1 {
    margin-right: 15px;
  }

  .linha-2 {
    margin-left: 15px;
  }
}
